.Rproj.user
.Rhistory
.RData
.Ruserdata
/Reproducible_Research/Week4/rsconnect/*
/Statistical_Inference/rsconnect/*
/Practical_Machine_Learning/rsconnect/*
/Developing_Data_Products/Week2/rsconnect/*
/Developing_Data_Products/Week3/rsconnect/*
/Developing_Data_Products/Week4/rsconnect/*
/Developing_Data_Products/Week4/montecarlo_pi/rsconnect/*
/Data_Science_Capstone/rsconnect/*
/Data_Science_Capstone/SwiftkeyShinyApp/rsconnect/*
/Data_Science_Capstone/ru_RU/*
/Data_Science_Capstone/fi_FI/*
/Data_Science_Capstone/en_US/*
/Data_Science_Capstone/de_DE/*